---
- name: Prepare Internal YUM repository
  hosts: local
  become: yes
  vars:
    repo_dir: /var/www/html/repo
  roles:
    - repo

- name: Add local repo on server and agent machines
  hosts:
    - zabbix-server
    - zabbix-agent
  become: yes
  vars:
    repo_server_host: "{{ groups['local'][0] }}"
    local_repo_name: local-zabbix
    local_repo_baseurl: "http://{{ hostvars[repo_server_host].ansible_host | default(repo_server_host) }}/repo"
    
  tasks:
    - name: Configure local YUM repo
      yum_repository:
        name: "{{ local_repo_name }}"
        description: "Local Zabbix repository"
        baseurl: "{{ local_repo_baseurl }}"
        enabled: yes
        gpgcheck: no

